html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

button:focus,
input:focus {
  outline: transparent;
}

body {
  font-family: 'Catamaran', sans-serif;
  font-weight: 400;
  background-color: #f6f6f6;
  position: relative;
  overflow-x: hidden;
}

.wrapper {
  max-width: 1260px;
  margin: 0 auto;
}