@media (max-width: 1366px) {
  .about__achievement-title {
    padding: 90px 10px 0px;
    max-width: 570px;
    font-size: 45px;
  }

  .about__achievement-text {
    max-width: 655px;
    font-size: 16px;
    line-height: 28px;
    padding: 0 10px 62px;
  }

  .about__achievement-stats {
    padding: 0 10px 146px;
  }

  .stats-number {
    font-size: 55px;
  }

  .stats-desc {
    font-size: 14px;
  }

  .stats-item+.stats-item {
    padding-left: 70px;
  }

  .footer__contacts-box {
    margin: 50px 10px;
  }

  .footer__contacts-title {
    font-size: 40px;
    padding-bottom: 20px;
  }

  .contact__list {
    padding-bottom: 30px;
  }

  .header__top {
    padding: 10px 10px 0;
  }

  .header-screen__title {
    font-size: 22px;
  }

  .header-screen__title-big {
    font-size: 160px;
  }

  .mount-image {
    top: 166px;
  }

  .header-screen__text,
  .header-screen__btn {
    margin-left: 20px;
    margin-right: 20px;
  }
}


@media (max-width: 1112px) {
  .gallery__items {
    height: auto;
  }

  .about__team-items {
    flex-wrap: wrap;
    justify-content: space-evenly;

    .about__team-item+.about__team-item {
      margin-left: 20px;
    }

    .about__team-item {
      margin-bottom: 40px;
    }
  }

  .menu__list li+li {
    padding-left: 30px;
  }
}

@media (max-width: 970px) {
  .offer__text {
    padding: 0 10px;
  }

  .testimonials__inner {
    padding-top: 70px;
    padding-bottom: 120px;
  }

  .testimonials__item-text {
    padding: 0 10px;
  }
}

@media (max-width: 900px) {
  .about__achievement-title {
    padding: 50px 10px 0px;
  }

  .about__achievement-text {
    max-width: 570px;
    font-size: 16px;
    line-height: 24px;
    padding: 0 10px 10px;
  }

  .about__achievement-stats {
    padding: 0 10px 70px;
  }

  .about__achievement {
    background-position: left;
  }

  .footer__inner {
    flex-direction: column-reverse;
  }

  .footer__map {
    width: 100%;
    height: 400px;
  }

  .footer__contacts {
    width: 100%;
  }

  .footer__contacts-box {
    margin: 40px auto;
  }

  .header-screen__title-big {
    font-size: 140px;
  }

  .header__menu-btn {
    display: block;
  }

  .header__menu {
    width: auto;
    text-align: right;

    ul {
      display: none;
      position: absolute;
      z-index: -1;
      top: 70px;
      left: 0;
      right: 0;
      width: 100%;
      background-color: #406a97;
      box-shadow: 0px 3px 4.7px 0.3px rgba(0, 0, 0, 0.24), 0px 1px 6.86px 0.14px rgba(0, 0, 0, 0.16);

      li+li {
        padding-left: 0;
      }
    }

    li {
      display: block;
      text-align: center;
    }

    a {
      display: block;
      padding: 20px 0;
      transition: all .3s;

      &:hover {
        background-color: #fff;
        color: $orange;
      }
    }
  }

  .small {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .gallery__item {
    height: 500px;

    &:nth-child(4) {
      background-position: top;
    }
  }

  .offer__title {
    margin-bottom: 10px;
  }

  .offer__cards {
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 0;
  }

  .offer__card {
    margin-bottom: 50px;

    &::before {
      display: none;
    }
  }

  .boarder-image {
    display: none;
  }

  .header-screen__title-big {
    margin: 0 20px 152px;
    position: relative;
    z-index: 2;
  }

  .header-screen__btn {
    margin-bottom: 140px;
    left: 45%;
    transform: translate(-50%);
  }
}

@media (max-width: 540px) {
  .offer__title {
    font-size: 45px;
  }

  .gallery__items {
    margin-bottom: 90px;
  }

  .about__team-items {
    display: block;
    text-align: center;
    margin-bottom: 90px;
  }

  .about__team-title {
    font-size: 45px;
  }

  .about__achievement-stats {
    display: block;
    text-align: center;

    .stats-item {
      padding: 0 0 30px;
    }
  }

  .testimonials__title {
    font-size: 40px;
  }

  .testimonials__inner {
    padding-bottom: 100px;
  }

  .header-screen__title-big {
    font-size: 110px;
  }
}

@media (max-width: 414px) {
  .footer__map {
    height: 300px;
  }

  .footer__contacts-box {
    margin: 40px 10px;
  }
}


















@media (min-width: 768px) {
  .gallery__items {
    grid-template-columns: repeat(1fr);
    grid-template-areas:
      'a  b'
      'd  e'
      'f  c'
      'g  g';
  }

  .gallery__item {
    height: 500px;

    &:nth-child(4) {
      background-position: top;
    }
  }

}

@media (min-width: 1112px) {
  .gallery__items {
    grid-template-columns: repeat(1fr);
    grid-template-areas:
      'a  b  c'
      'd  e  c'
      'd  f  g';
  }

  .gallery__item {
    height: auto;

  }
}